@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

// Set your brand colors

// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$menu-item-radius: 20px;

@import "~bulma";

// custom overrides
body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
